<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.dao.UserMapper">
    <select id="selectByUserId" parameterType="Integer" resultMap="userResultMap">
        SELECT * FROM  ld_user WHERE ld_id =#{id}
    </select>
    <resultMap id="userResultMap" type="User">
        <id column="ld_id" property="id"></id>
        <result column="ld_username" property="userName"></result>
        <result column="ld_password" property="password"></result>
        <result column="ld_sex" property="sex"></result>
        <result column="ld_deptcode" property="deptCode"></result>
        <result column="ld_role" property="role"></result>
    </resultMap>

    <select id="userLogin" parameterType="User" resultMap="loginUserResultMap">
        SELECT * FROM  ld_user WHERE ld_id=#{id} AND ld_password=#{password}
    </select>
    <resultMap id="loginUserResultMap" type="User">
        <id column="ld_id" property="id"></id>
        <result column="ld_password" property="password"></result>
    </resultMap>

    <select id="getAllManager" resultMap="userResultMap">
        SELECT * FROM ld_user WHERE ld_role=0
    </select>

</mapper>
